<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.algomukja">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/FullScreenTheme">
        <receiver
            android:name=".SmsReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1"> <action android:name="android.provider.Telephony.SMS_RECEIVED" /> </intent-filter>


        </receiver>

        <activity android:name=".EatDetail" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".FactoringUserInformation.RegisterActivity" />
        <activity android:name=".DideatListview.Adddideat" />
        <activity android:name=".FactoringUserInformation.UserHomeActivity" />
        <activity android:name=".Eat.WillEatAcitvity" />
        <activity android:name=".Eat.DidEatActivity" />
        <activity android:name=".FactoringUserInformation.Setting_UserActicity" />
        <activity
            android:name=".LoadingSplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>